<a href="https://colab.research.google.com/github/leonbenenati/Projeto/blob/main/Churn_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset do Kaggle : Churn Modeling Dataset

Objetivo é prever se o cliente fechou a conta do banco ou não

In [42]:
#importando bibliotecas necessárias
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV

In [11]:
dados = pd.read_csv("/content/Churn_Modelling.csv")

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
dados.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [12]:
#transformando as variáveis Gender e Geography em variáveis númericas
dados['Gender'] = dados['Gender'].map({'Female': 1, 'Male': 0})
dados = pd.get_dummies(dados, columns = ['Geography'])

In [13]:
#Padronizando variáveos
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

padro = sc.fit_transform(dados[['CreditScore', 'Age', 'EstimatedSalary','Balance']])
padro= pd.DataFrame(padro, columns = ['escore', 'idade', 'salario','saldo'])
dados = pd.concat([dados, padro], axis = 1)

In [14]:
dados.head()

   RowNumber  CustomerId   Surname  ...     idade   salario     saldo
0          1    15634602  Hargrave  ...  0.293517  0.021886 -1.225848
1          2    15647311      Hill  ...  0.198164  0.216534  0.117350
2          3    15619304      Onio  ...  0.293517  0.240687  1.333053
3          4    15701354      Boni  ...  0.007457 -0.108918 -1.225848
4          5    15737888  Mitchell  ...  0.388871 -0.365276  0.785728

[5 rows x 20 columns]

In [22]:
#separando x e y
x = dados[["escore","Gender","idade","Tenure","saldo","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary","Geography_Spain","Geography_France"]]
y = dados["Exited"]

In [23]:
#separando dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(x,
                                y,
                                test_size=0.2,
                                random_state=42)

In [18]:
#Configurando a validação cruzada
kf = StratifiedKFold(n_splits = 10)

Melhor KNN

In [29]:
parametros = {'n_neighbors': np.arange(0, 10,1)}

clf_knn = RandomizedSearchCV(KNeighborsClassifier(), param_distributions = parametros,
                                scoring = 'accuracy', cv = kf,
                                n_iter = 50, verbose = 1, n_jobs = -1)
clf_knn.fit(X_train,y_train)

print('\nAcuracia: {:.4f}'.format(clf_knn.best_score_))
print('Melhores parâmetros: {}\n'.format(clf_knn.best_params_))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 10 is smaller than n_iter=50. Running 10 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Acuracia: 0.7888
Melhores parâmetros: {'n_neighbors': 8}

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.5s finished

Arvore de decisão

In [28]:
parametros = {'min_samples_split': np.arange(1,100,2),
                 'min_samples_leaf': np.arange(1,100,2),
                 'splitter': ['best', 'random'],
                 'criterion': ['gini', 'entropy'],
              'max_depth': np.arange(1,100,2)}
clf_arvore_decisao = RandomizedSearchCV(DecisionTreeClassifier(), param_distributions = parametros,
                                scoring = 'accuracy', cv = kf,
                                n_iter = 50, verbose = 1, n_jobs = -1)

clf_arvore_decisao.fit(X_train,y_train)

print('\nAcuracia: {:.4f}'.format(clf_arvore_decisao.best_score_))
print('Melhores parâmetros: {}\n'.format(clf_arvore_decisao.best_params_))

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 300 tasks      | elapsed:    4.8s

Acuracia: 0.8516
Melhores parâmetros: {'splitter': 'random', 'min_samples_split': 3, 'min_samples_leaf': 39, 'max_depth': 47, 'criterion': 'gini'}

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    8.2s finished

Floresta aleatória

In [35]:
parametros = {'max_depth' : np.arange(0,30,1),
                 'n_estimators':np.arange(0,48,1),
                 'max_features': ['sqrt', 'auto', 'log2'],
                 'min_samples_split':np.arange(0,10,1),
                 'min_samples_leaf': np.arange(0,5,1),
                 'bootstrap': [True, False]
                 }

clf_random = RandomizedSearchCV(RandomForestClassifier(), param_distributions = parametros, scoring = 'accuracy', cv = kf,
                                n_iter = 50, verbose = 1, n_jobs = -1)

clf_random.fit(X_train,y_train)

print('\nAcuracia: {:.4f}'.format(clf_random.best_score_))
print('Melhores parâmetros: {}\n'.format(clf_random.best_params_))

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    7.5s
[Parallel(n_jobs=-1)]: Done 362 tasks      | elapsed:   46.5s
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:  1.0min finished

Acuracia: 0.8614
Melhores parâmetros: {'n_estimators': 47, 'min_samples_split': 6, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 25, 'bootstrap': True}

Combinação de modelos

In [44]:
knn_escolhido = KNeighborsClassifier(n_neighbors = 8)
arvore_decisao= DecisionTreeClassifier(splitter = 'random', min_samples_split= 3, min_samples_leaf= 39, max_depth= 47, criterion= 'gini')
random = RandomForestClassifier(n_estimators = 47, min_samples_split= 6, min_samples_leaf= 2, max_features = 'auto', max_depth= 25, bootstrap= True)

modelos = [('knn', knn_escolhido),('arvore', arvore_decisao),('floresta_aleatória', random)]

modelo = VotingClassifier(modelos, voting = 'hard')

combinacao =cross_val_score(modelo,X_train,y_train, cv = kf, scoring = 'accuracy')

print(combinacao.mean())

0.852875

Previsão

O modelo de melhor acurácia  foi o Floresta aleatória, será utilizado para a previsão

In [46]:
Previsao = clf_arvore_decisao.predict(X_test)
print(Previsao)

[0 0 0 ... 1 0 0]